build/
devel/
install/
log/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
CTestConfiguration.ini
Makefile
test_results/
atomic_configure/
catkin_generated/
gtest/

scripts/__pycache__/
scripts/temp_results/
*.py[cod]

*.pcd
*.ply
*.bag
*.mp4
*.avi
